body {
    margin: 0 auto;
    font-family: 'Abril Fatface', cursive;
  background: black;

}

.container {
    display: flex;
    justify-content: space-around;
 background: rgba(128,0,0, 0.5);
    height: 100vh;
  width: 100vw;
}
.homediv, .guestdiv{
  font-size: 4em;
  color: white;
  padding: 10px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    box-shadow: 0 5px #666;
}
.blackbox {
  font-family: "Digital-7";
  font-weight: bolder;
  font-size: 150px;
  padding: 10px;
background: black;
  color: orange;
  border-radius: 8%;
}
button{
  display: inline-block;
    justify-content: space-around;
  margin: 5px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 25%;
}
button:hover{
  background: red;
  -webkit-transform: translateY(-5px);
	transform: translateY(-3px);
}
